
<!doctype html>
@{
    Layout = null;
}
<html lang="zxx">

@await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")
<body class="bg-gray">


    @await Html.PartialAsync("/Views/LayoutPartial/_Navbar2Partial.cshtml")
    @RenderBody()
    <partial name="_NotificationAlert" />

    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")

    @await Html.PartialAsync("/Views/LayoutPartial/_ScriptPartial.cshtml")

</body>
</html>
