<head>

    <meta charset="utf-8">
    <title>Tatil Planım</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Constra HTML Template v1.0">

    <meta name="theme-name" content="Tatil Planım" />

    <link rel="shortcut icon" type="image/x-icon" href="~/Tatil (1).png" />

    <link rel="stylesheet" href="~/aviato-main/source/plugins/themefisher-font/style.css">
    <link rel="stylesheet" href="~/aviato-main/source/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/aviato-main/source/plugins/animate/animate.css">
    <link rel="stylesheet" href="~/aviato-main/source/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/aviato-main/source/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="~/aviato-main/theme/css/style.css">


</head>
