
@{
    Layout = null;
}

<section class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="contact-number">
                    <i class="tf-ion-ios-telephone" style="color:black;font-size:30px;"></i>
                    <span style="font-size: 15px; color: #004AAD;">4444 28 61</span>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="logo text-center">
                    <img src="~/Tatil.png" />
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <ul class="top-menu text-right list-inline">
                    <li class="dropdown cart-nav">
                        <a href="/Login/SingIn" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 17px;">
                            <i class="tf-ion-ios-person-outline" style="font-size:35px;color:black"></i> Giriş Yap/Üye Ol
                        </a>
                    </li>
                    <li class="dropdown cart-nav ">
                        <a href="/Login/SingIn" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:17px;">
                            <i class="tf-ion-ios-cart" style="font-size:30px;" ></i> Sepetim
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("_CategoryList")
