
<div class="alert alert-warning alert-common alert-dismissible text-center" role="alert">
    <button type="button" class="close text-center" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <a >
        <span style="font-weight: bold; font-family: 'Times New Roman', Times, serif"> Tatil Planımla </span>
    </a><br />
    <a class="text-center" style="font-family: 'Times New Roman', Times, serif">
        Keşfetmeye<span> Hazır Olun </span>, Tatilinizi Biz Planlayalım
    </a>
</div>

<section class="menu bg-white" style="background-color:white">
    <nav class="navbar navigation">
        <div class="container col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <ul class=" nav navbar-nav">
                        <li class="logo text-left" style="position:relative;left:200px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                            <img style="width:250px;height:50px;" src="~/Tatil (2).png" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div id="navbar" class="navbar-collapse collapse text-center">
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a href="/Default/Index" style="font-family:'Times New Roman', Times, serif" class="texy text-black">Anasayfa</a>
                            </li>
                            <li>
                                @await Component.InvokeAsync("_CategoryList")
                            </li>
                            <li class="dropdown dropdown-slide">
                                <a href="/Ofer/Index" style="font-family:'Times New Roman', Times, serif" data-delay="350"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    Kampanyalar
                                </a>
                            </li>
                            <li class="dropdown dropdown-slide">
                                <a href="/Contact/Index" style="font-family:'Times New Roman', Times, serif" data-delay="350"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    İletişim
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="nav navbar-nav">
                        <li style="position:relative;left:35px;">
                            <a href="" class="text-uppercase">
                                <i class="tf-ion-ios-cart-outline" style="font-size: 25px; font-weight: bold;"></i>
                            </a>
                        </li>
                        <li style="position:relative;left:25px;">
                            <a href="" class="text-uppercase" style="color: black;">
                                <i class="tf-ion-ios-heart-outline" style="font-size: 25px; font-weight: bold"></i>
                            </a>
                        </li>
                        <li class="dropdown dropdown-slide" style="font-family:'Times New Roman', Times, serif" data-delay="350">
                            @await Component.InvokeAsync("_UserNavigation")
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <hr class="message-inner-separator">
</section>