
@{
    Layout = null;
}

<!-- Start Top Header Bar -->
<section class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="contact-number">
                    <i class="tf-ion-ios-telephone"></i>
                    <span>0129- 12323-123123</span>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Site Logo -->
                <div class="logo text-center">
                    <a href="~/aviato-main/index.html">
                        <!-- replace logo here -->
                        <svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
                               font-family="AustinBold, Austin" font-weight="bold">
                                <g id="Group" transform="translate(-90.000000, -297.000000)" fill="#000000">
                                    <text id="">
                                        <tspan x="90.94" y="325">TatilBul</tspan>
                                    </text>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Cart -->
                <ul class="top-menu text-right list-inline">
                    <li class="dropdown cart-nav dropdown-slide">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <i class="tf-ion-android-cart"></i>Cart
                        </a>
                        <div class="dropdown-menu cart-dropdown">
                            <!-- Cart Item -->
                            <div class="media">
                                <a class="pull-left" href="#!">
                                    <img class="media-object" src="~/aviato-main/source/images/shop/cart/cart-1.jpg" alt="image" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#!">Ladies Bag</a></h4>
                                    <div class="cart-price">
                                        <span>1 x</span>
                                        <span>1250.00</span>
                                    </div>
                                    <h5><strong>$1200</strong></h5>
                                </div>
                                <a href="#!" class="remove"><i class="tf-ion-close"></i></a>
                            </div><!-- / Cart Item -->
                            <!-- Cart Item -->
                            <div class="media">
                                <a class="pull-left" href="#!">
                                    <img class="media-object" src="~/aviato-main/source/images/shop/cart/cart-2.jpg" alt="image" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#!">Ladies Bag</a></h4>
                                    <div class="cart-price">
                                        <span>1 x</span>
                                        <span>1250.00</span>
                                    </div>
                                    <h5><strong>$1200</strong></h5>
                                </div>
                                <a href="#!" class="remove"><i class="tf-ion-close"></i></a>
                            </div><!-- / Cart Item -->

                            <div class="cart-summary">
                                <span>Total</span>
                                <span class="total-price">$1799.00</span>
                            </div>
                            <ul class="text-center cart-buttons">
                                <li><a href="~/aviato-main/cart.html" class="btn btn-small">View Cart</a></li>
                                <li><a href="~/aviato-main/checkout.html" class="btn btn-small btn-solid-border">Checkout</a></li>
                            </ul>
                        </div>

                    </li><!-- / Cart -->
                    <!-- Search -->
                    <li class="dropdown search dropdown-slide">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <i class="tf-ion-ios-search-strong"></i> Search
                        </a>
                        <ul class="dropdown-menu search-dropdown">
                            <li>
                                <form action="post"><input type="search" class="form-control" placeholder="Search..."></form>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/Login/SingIn">
                            <i class="tf-ion-android-open"></i> Giriş Yap
                        </a>
                    </li>
                    <li class="commonSelect">
                        <select class="form-control">
                            <option>EN</option>
                            <option>DE</option>
                            <option>FR</option>
                            <option>ES</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="menu">
    <nav class="navbar navigation">
        <div class="container">
            <div class="navbar-header">
                <h2 class="menu-title">Main Menu</h2>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="navbar" class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">

                    <li class="dropdown ">
                        <a href="/Default/Index">Anasayfa</a>
                    </li>
                    <li class="dropdown dropdown-slide">
                        <a href="/Destination/Index" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Otel <span class="tf-ion-ios-arrow-down"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 mb-sm-3">
                                    <ul>
                                        <li class="dropdown-header">Popüler Tatil Bölgeleri</li>
                                        <li role="separator" class="divider"> </li>
                                        <li><a href="/Destination/Index">Belek</a></li>
                                        <li><a href="~/aviato-main/checkout.html">Çanakkale</a></li>
                                        <li><a href="~/aviato-main/cart.html">İzmir</a></li>
                                        <li><a href="~/aviato-main/pricing.html">Antalya</a></li>
                                        <li><a href="~/aviato-main/confirmation.html">Muğla</a></li>

                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-sm-3">
                                    <ul>
                                        <li class="dropdown-header">Temalı Oteller</li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="~/aviato-main/product-single.html">Doğa Otelleri</a></li>
                                        <li><a href="~/aviato-main/shop-sidebar.html">Ekonomik Oteller</a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="dropdown full-width dropdown-slide">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Tur <span class="tf-ion-ios-arrow-down"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="row">

                                <div class="col-sm-4 col-xs-12">
                                    <ul>
                                        <li class="dropdown-header">Yurt Dışı Turları</li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="~/aviato-main/contact.html">Güneydoğu Asya</a></li>
                                        <li><a href="~/aviato-main/about.html">Orta ve Güney Afrika</a></li>
                                        <li><a href="~/aviato-main/404.html">Uzak Doğu</a></li>
                                        <li><a href="~/aviato-main/coming-soon.html">Afrika</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-4 col-xs-12">
                                    <ul>
                                        <li class="dropdown-header">Kültür Turları</li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="dashboard.html">Kapadokya Turları</a></li>
                                        <li><a href="order.html">Karadeniz Turları</a></li>
                                        <li><a href="address.html">Uçaklı Turları</a></li>
                                        <li><a href="profile-details.html">Batum Turları</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-4 col-xs-12">
                                    <ul>
                                        <li class="dropdown-header">Tur Dönemleri</li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="login.html">Erken Rezervasyon</a></li>
                                        <li><a href="signin.html">İlkbahar Turları</a></li>
                                        <li><a href="forget-password.html">Yaz Sezonu Turları</a></li>
                                    </ul>
                                </div>
                              
                            </div>
                        </div>
                    </li>
    
                    <li class="dropdown dropdown-slide">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Hakkımızda
                        </a>
                    </li>
                    <li class="dropdown dropdown-slide">
                        <a href="/Contact/Index" data-delay="350"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            İletişim
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</section>