.slider-wrapper{
    position:relative;
}

.slider-wrapper .slide-button {
    height: 50px;
    top: 50%;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: black;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
}
    .slider-wrapper .slide-button:hover{
        background:#444;
    }
    .slider-wrapper .slide-button#prev-slide {
        left: -20px;
        display:none;
    }
    .slider-wrapper .slide-button#next-slide {
        right: -20px;
    }

    .slider-wrapper .image-list {
        display: grid;
        gap: 18px;
        margin-bottom: 30px;
        overflow-x: auto;
        scrollbar-width: none;
        grid-template-columns: repeat(10,1fr);
    }
 

    .slider-wrapper .image-list::-webkit-scrollbar{
        display:none;
    }
    .slider-wrapper .image-list .image-item {
        width: 365px;
        height: 450px;
        object-fit: cover;
    }
