<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a class="active" href="/MemberArea/Profile/Index/">Profilim</a></li>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="/MemberArea/Destination/Index1/">Rotalar</a></li>
                    <li><a href="/MemberArea/Reservation/MyCurrentReservation/">Aktif Rezervasyonlar</a></li>
                    <li><a href="/MemberArea/Reservation/MyOldReservation/">Geçmiş Rezervasyonlar</a></li>
                    <li><a href="/MemberArea/Reservation/MyApprovalReservation/">Onay Bekleyen Rezervasyonlar</a></li>
                    <li><a href="/MemberArea/Reservation/NewReservation/">Yeni Rezervasyon</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>