@model Entity.DTOs.ContactDTOs.SendMessageDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<html lang="en">
<body id="body">
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name">Bize Ulaşın</h1>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Anasayfa</a></li>
                            <li class="active">iletişim</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-wrapper">
        <div class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="contact-form col-md-6 ">
                        <form id="contact-form" method="post"  action="" role="form">

                            <div class="form-group">
                                <input type="text" asp-for="Name" placeholder="Your Name" class="form-control" name="name" id="name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="email" asp-for="Mail" placeholder="Your Email" class="form-control" name="email" id="email">
                                <span asp-validation-for="Mail" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <input type="text" asp-for="Subject" placeholder="Subject" class="form-control" name="subject" id="subject">
                                <span asp-validation-for="Subject" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <textarea rows="6" asp-for="MessageBody" placeholder="Message" class="form-control" name="message" id="message"></textarea>
                                <span asp-validation-for="MessageBody" class="text-danger"></span>

                            </div>
                            <div id="cf-submit">
                                <input type="submit" id="contact-submit" class="btn btn-transparent" value="Gönder">
                            </div>

                        </form>
                    </div>
                    <div class="contact-details col-md-6 ">
                        <div class="social-icon">
                            <ul>
                                <li><a class="fb-icon" href="https://www.facebook.com/themefisher"><i class="tf-ion-social-facebook"></i></a></li>
                                <li><a href="https://www.twitter.com/themefisher"><i class="tf-ion-social-twitter"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-dribbble-outline"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-googleplus-outline"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-pinterest-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>

</body>
</html>

