@model Entity.Concrete.Destination
@{
    ViewData["Title"] = "UpdateDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Rota Güncelle</h5>
                <small class="text-muted float-end">aa</small>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="DestinationID" />

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-name">Şehir</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-name" asp-for="City" placeholder="" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-company">Gün/Gece</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="basic-default-company"
                                   asp-for="DayNight" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-email">Fiyat</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <input type="text"
                                       id="basic-default-email"
                                       class="form-control"
                                       asp-for="Price" />
                                <span class="input-group-text" id="basic-default-email2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-email">Kapasite</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <input type="text"
                                       id="basic-default-email"
                                       class="form-control"
                                       asp-for="Capacity" />
                                <span class="input-group-text" id="basic-default-email2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-message">Başlık</label>
                        <div class="col-sm-10">
                            <input type="text" id="basic-default-message"
                                   class="form-control"
                                   asp-for="Description"></input>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-message">Ana Açıklama</label>
                        <div class="col-sm-10">
                            <textarea id="basic-default-message"
                                      class="form-control"
                                      asp-for="FirstDetails"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-message">Açıklama</label>
                        <div class="col-sm-10">
                            <textarea id="basic-default-message"
                                      class="form-control"
                                      asp-for="Details"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-phone">Görsel</label>
                        <div class="col-sm-10">
                            <input type="file"
                                   id="formFile"
                                   class="form-control phone-mask"
                                   asp-for="Image" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-phone">Ana Görsel</label>
                        <div class="col-sm-10">
                            <input type="file"
                                   id="formFile"
                                   class="form-control phone-mask"
                                   asp-for="CoverImage" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-message">Görsel</label>
                        <div class="col-sm-10">
                            <input type="file" id="basic-default-message"
                                   class="form-control"
                                   asp-for="FirstImage"></input>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">GÜNCELLE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>