@using Entity.Concrete
@model List<Destination>

<section class="products section bg-gray">
    <div class="container">
        <div class="row">
            <div class="title text">
                <h1 style="color: #ff3131; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Öne Çıkan Oteller</h1>
            </div>
            <a class="text-left link link-danger" style="color: #ff3131; font-family: 'Franklin Gothic Medium'" href="/AAAA">
                Tüm Otelleri Gör <i class="tf-ion-arrow-right-a"></i>
            </a>
        </div>
        <br />
        <div class="row">
            @foreach (var item in Model)
            {@if (item.Status == true)
                {
                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <span class="bage">Sale</span>
                                <img class="img-responsive" src="@item.FirstImage" alt="product-img" />
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="/Destination/DestinationDetail/@item.DestinationID">
                                                <i class="tf-ion-ios-search-strong"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="tf-ion-android-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">@item.City</a></h4>
                                <p class="price">@item.DayNight </p>
                                <p>@item.Price $</p>
                            </div>
                        </div>
                    </div>
                }

        }
        </div>
    </div>
</section>

@*<div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/Ofer/Index">
                    <img src="~/Bir başlık ekleyin.png" />
                </a>
            </div>
        </div>

    </div>*@