<div class="col-md-3">
    <div class="widget product-category">
        <div class="panel-group commonAccordion">
            <div class="panel panel-default">
                <div class="card" id="fillter">
                    <h4 class="panel-title">
                        <a style="font-family: 'Times New Roman', Times, serif; font-weight: bold">
                            Otel Adı
                        </a>
                    </h4>
                    <input id="inputFilter" placeholder="Otel adı ile arayın..." type="text" /><br />
                </div>
            </div>
        </div>
    </div>
</div>