
<style>

    #inputFilter {
        background-color: white;
        height: 50px;
        width: 240px;
        padding: 10px 10px;
        border-radius: 5px;
        border: 2px solid #e1dbdb;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        margin: 5px;
        margin-left: 10px;
    }

    #minPrice {
        background-color: white;
        height: 50px;
        border: 2px solid #e1dbdb;
        width: 115px;
        padding: 10px 10px;
        border-radius: 5px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        margin-left: 10px;
    }

    #maxPrice {
        background-color: white;
        height: 50px;
        width: 115px;
        border: 2px solid #e1dbdb;
        padding: 10px 10px;
        border-radius: 5px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        margin: 5px;
    }

    .buttonara {
        background-color: white;
        border: solid red;
        color: red;
        top: 10px;
        width: 240px;
        position: relative;
        height: 50px;
        padding: 5px;
        margin-left: 10px;
    }

        .buttonara:hover {
            background-color: #ff3131;
            box-shadow: 0px 0px 10px red;
            color: white;
        }

    .buttonsil {
        background-color: white;
        border: 1px solid red;
        color: red;
        position: relative;
        padding: 5px;
        font-size: 18px;
        width: 262px;
        height: 60px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 2px red;
    }
</style>


<div class="col-md-3">

    <div class="widget product-category">
        <div class="panel-group commonAccordion">
            <div class="panel panel-default">
                <div class="card" style="height:165px;">
                    <h4 class="panel-title">
                        <a style="font-family: 'Times New Roman', Times, serif; font-weight: bold">
                            Tur Adı
                        </a>
                    </h4>
                    <input id="inputFilter" placeholder="Otel adı ile arayın..." type="text" /><br />
                    <button style="border:1px solid red;" class="buttonara" onclick="filterByTour()">Ara</button>

                </div>
            </div>
        </div>

        <div class="panel-group commonAccordion">
            <div class="panel panel-default">
                <div class="card" style="height:165px;">
                    <h4 class="panel-title">
                        <a style="font-family: 'Times New Roman', Times, serif; font-weight: bold">
                            Konaklama Fiyatı
                        </a>
                        <input type="text" id="minPrice" placeholder="Min Fiyat..." />
                        <input type="text" id="maxPrice" placeholder="Max Fiyat..." />

                        <button style="border:1px solid red;" class="buttonara" onclick="filterByPrice()">Ara</button>
                    </h4>
                </div>
            </div>
        </div>
        <button class="buttonsil" onclick="resetFilter()"><b>Tüm Filtreleri Temizle</b> </button>
    </div>
</div>


<script>
    function filterByTour() {
        var input = document.getElementById("inputFilter").value.toUpperCase();
        var cards = document.getElementsByClassName("card");

        for (var i = 0; i < cards.length; i++) {
            var titleElement = cards[i].getElementsByClassName("card-title")[0];
            if (titleElement) {
                var title = titleElement.innerText.toUpperCase();
                if (title.indexOf(input) > -1) {
                    cards[i].style.display = "";
                } else {
                    cards[i].style.display = "none";
                }
            }
        }
    }

    function sortAscending() {
        var cardsContainer = document.getElementById("cardsContainer");
        var cards = Array.from(cardsContainer.getElementsByClassName("card"));

        var sortedCards = cards.sort(function (a, b) {
            var priceA = parseFloat(a.querySelector(".price").innerText);
            var priceB = parseFloat(b.querySelector(".price").innerText);
            return priceA - priceB;
        });

        for (var i = 0; i < sortedCards.length; i++) {
            cardsContainer.appendChild(sortedCards[i]);
        }
    }

    function sortAscending() {
        var cardsContainer = document.getElementById("cardsContainer");
        var cards = Array.from(cardsContainer.getElementsByClassName("card"));

        var sortedCards = cards.sort(function (a, b) {
            var priceA = parseFloat(a.querySelector(".price").innerText);
            var priceB = parseFloat(b.querySelector(".price").innerText);
            return priceA - priceB;
        });

        // Önceki kartları temizle
        while (cardsContainer.firstChild) {
            cardsContainer.removeChild(cardsContainer.firstChild);
        }

        // Sıralı kartları ekleyin ve aralarına boşluk bırakın
        sortedCards.forEach(function (card) {
            cardsContainer.appendChild(card);
            // Boşluk ekleyin
            cardsContainer.appendChild(document.createElement('br'));
        });
    }

    function sortDescending() {
        var cardsContainer = document.getElementById("cardsContainer");
        var cards = Array.from(cardsContainer.getElementsByClassName("card"));

        var sortedCards = cards.sort(function (a, b) {
            var priceA = parseFloat(a.querySelector(".price").innerText);
            var priceB = parseFloat(b.querySelector(".price").innerText);
            return priceB - priceA;
        });

        // Önceki kartları temizle
        while (cardsContainer.firstChild) {
            cardsContainer.removeChild(cardsContainer.firstChild);
        }

        // Sıralı kartları ekleyin ve aralarına boşluk bırakın
        sortedCards.forEach(function (card) {
            cardsContainer.appendChild(card);
            // Boşluk ekleyin
            cardsContainer.appendChild(document.createElement('br'));
        });
    }

    function resetFilter() {
        var cardsContainer = document.getElementById('cardsContainer');
        var products = cardsContainer.querySelectorAll('.card');

        for (var i = 0; i < products.length; i++) {
            products[i].style.display = 'block';
        }

        document.getElementById('minPrice').value = '';
        document.getElementById('maxPrice').value = '';
        document.getElementById('inputFilter').value = '';
    }
</script>

