
<link href="~/css/datepicker.css" rel="stylesheet" />

<div class="hero-slider">
    <div class="slider-item " style="background-image: url(https://ares.shiftdelete.net/2022/05/yaz-tatili-villa-kiralama.jpg);height:600px;background-repeat: no-repeat; background-size:100% 100%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Tatil Planım'dan güvenle al,<br> tatilde kal.</h1>
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1"></h1>
                </div>
                <div class="col-lg-8 text-right">
                    <h2 style="color:white"><b>%50</b>'ye varan <b>erken rezervasyon</b><br /><b>indirimlerini </b>kaçırma</h2><br />
                    <a style="font-size:20px; border-radius:20px;border:3px solid #899503;padding:5px 5px;" class="btn" href="shop.html"><b style="font-size:24px;">%50</b>'ini <b>şimdi öde,</b><br />kalanını tatilden önce</a>
                    <a style="font-size:20px; border-radius:20px;border:3px solid #45b4d2;padding:5px 5px; " class="btn" href="shop.html">Son gün <br /> <b>5 haziran</b></a><br /><br />
                    <h3 style="color:white"><b>1000 TL'</b>ye varan Worldpuan !!!</h3><br />
                    <a class="btn text-center" style="border-radius:10px;border:3px solid #eab56f;"><b>Hemen incele</b></a>
                </div>
            </div>
        </div>
    </div>
</div>

