
<link href="~/css/datepicker.css" rel="stylesheet" />

<div class="hero-slider">
    <div class="slider-item " style="background-image: url(https://www.hisglobal.com.tr/assets/images/1622467762.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Tatil Planım'dan güvenle al,<br> tatilde kal.</h1>
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1"></h1>
                </div>
                <div class="col-lg-8 text-right">
                    <h2 data-duration-in=".3" data-animation-in="fadeInUp" style="color:white" data-delay-in=".5"><b>%50</b>'ye varan <b>erken rezervasyon</b><br /><b>indirimlerini </b>kaçırma</h2><br />
                    <a style="font-size:20px;" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html"><b>%50</b>'ini <b>şimdi öde,</b><br />kalanını tatilden önce</a>
                    <a data-duration-in=".3" style="font-size:20px;" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Son gün <br /> <b>5 haziran</b></a><br /><br />
                    <h3 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" style="color:white"><b>1000 TL'</b>ye varan Worldpuan !!!</h3><br />
                    <a data-duration-in=".3 " data-animation-in="fadeInUp" data-delay-in=".8" class="btn text-center" href="shop.html"><b>Hemen incele</b></a>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class="col-md-12">
    <div class="title text-center">
        <h1 style="color: #004AAD;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Şimdi Rezervasyon Yap</h1>
    </div>
</div>
<div class="container mt-100">
    <div class="card">
        <div class="row">
            <div class="col-md-4"> <label class=" text opacity-5">Nereye Gidiceksiniz</label> <input type="text" class="form-control"> </div>
            <div class="col-md-4"> <label>Ne Kadar Kalıcaksınız</label> <input type="datetime-local" class="form-control"> </div>
            <div class="col-md-4"> <label>Ne Kadar Kalıcaksınız</label> <input type="datetime-local" class="form-control"> </div>
            <div class="col-md-4"> <label>Search</label> <button class="btn btn-primary pro-button w-100">Add a trip <i class="fa fa-plane ml-2"></i></button> </div>
        </div>
    </div>
</div>