@using Core.Entities.Concrete
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h4 class="card-header">Kullanıcı Listesi</h4>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Ad Soyad</th>
                    <th>Kullanıcı Adı</th>
                    <th>Mail</th>
                    <th>Sil</th>
                    <th>Yorumlar</th>
                    <th>Tur Geçmişi</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>#</strong></td>
                        <td>@item.Name @item.SurName</td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td><a href="/User/Delete/@item.Id" class="btn rounded-pill btn-outline-info">Sil</a></td>
                        <td><a href="/User/CommentUser/@item.Id" class="btn rounded-pill btn-outline-success">Yorumlar</a></td>
                        <td><a href="/User/ReservationUser/@item.Id" class="btn rounded-pill btn-outline-success">Tur Geçmişi</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

