@model TraversalCore.Models.ForgetPsswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<body id="body">
    <section class="signin-page account">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    @if (TempData["error"] != null)
                    {
                        <div class="alert alert-info">
                            <strong>Hata !</strong> @TempData["error"]
                        </div>
                    }  
                    @if (TempData["success"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Başarılı !</strong> @TempData["success"]
                        </div>
                    }

                    <div class="block text-center">
                        <h4>Şifrenizimi Unuttunuz?</h4>
                        <h5 class="text-center">Şifre yenileme linki, e-posta adresinize gönderilecektir</h5>
                        <form class="text-left" method="post" name="ForgetPassword">
                            <div class="form-group">
                                <input style="height:70px;" type="email" asp-for="Email" class="form-control" placeholder="Email">
                            </div><br />
                            <div class="text-center">
                                <button type="submit" style="width: 400px; font-size:18px;height: 50px;color:white; background-color: red" class="btn btn-main text-center">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


