@model TraversalCore.Models.UserSignInViewModel

@{
    ViewData["Title"] = "SıngIn";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";

}
<style>
    body {
        font-family: Roboto;
        -webkit-font-smoothing: antialiased;
    }



    .inp {
        position: relative;
        margin: auto;
        border-radius: 3px;
        overflow: hidden;
    }

        .inp .label {
            position: absolute;
            top: 20px;
            left: 12px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.5);
            font-weight: 500;
            transform-origin: 0 0;
            border: 5px inherit;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s ease;
            pointer-events: none;
        }

        .inp .focus-bg {
            background: rgba(0, 0, 0, 0.05);
            z-index: -1;
            transform: scaleX(0);
            transform-origin: left;
        }

        .inp input {
            height: 70px;
            width: 500px;
            border: 3px groove;
            font-size: 16px;
            background: rgba(0, 0, 0, 0.02);
        }

            .inp input:not(:-moz-placeholder-shown) + .label {
                color: rgba(0, 0, 0, 0.5);
                transform: translate3d(0, -12px, 0) scale(0.75);
            }

            .inp input:not(:-ms-input-placeholder) + .label {
                color: rgba(0, 0, 0, 0.5);
                transform: translate3d(0, -12px, 0) scale(0.75);
            }

            .inp input:not(:placeholder-shown) + .label {
                color: rgba(0, 0, 0, 0.5);
                transform: translate3d(0, -12px, 0) scale(0.75);
            }

            .inp input:focus {
            }

                .inp input:focus + .label {
                    color: black;
                    transform: translate3d(0, -12px, 0) scale(0.75);
                }

                    .inp input:focus + .label + .focus-bg {
                        transform: scaleX(1);
                        transition: all 0.1s ease;
                    }
</style>


<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-7 ">
                <div class="block text-center">
                    <b style="position: relative; left: -70px; font-size: 30px; font-family: 'Times New Roman', Times, serif" class="text-center">Giriş Yap</b><br /><br />
                    @if (TempData["error"] != null)
                    {
                        <div  style="position:relative;left:-80px;" class="alert tf-ion-alert-circled text-center  text-uppercase">
                            <strong>Hata !</strong> @TempData["error"]
                        </div>
                    }
                    <form class="text-left" method="post">
                        <div class="form-group">
                            <label for="inp" class="inp">
                                <input  type="email" asp-for="username" class="form-control" id="userName" placeholder="&nbsp;">
                                <span class="label">Kullanıcı Adı</span>
                                <span class="focus-bg"></span>
                                <span asp-validation-for="username"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="inp" class="inp">
                                <input  type="password" id="password" asp-for="password" class="form-control" placeholder="&nbsp;">
                                <span class="label">Şifre</span>
                                <span class="focus-bg"></span>
                                <span asp-validation-for="password"></span>
                            </label>
                        </div>
                        <div class="text-center">
                            <button type="submit" style="font-size:18px;color:white;background-color:red;width:400px;height:60px;font-family:'Times New Roman', Times, serif;position:relative; left:-60px; " class="btn btn-main text-center">Giriş Yap</button>
                        </div>
                    </form>
                    <p style="position: relative; left: -60px; font-family: 'Times New Roman', Times, serif " class="mt-20">Bu sitede yenimisin ?<a class="btn btn-link" href="/Login/SingUp"> Şimdi Kayıt Ol</a></p>
                    <p style="position: relative;top:-15px;font-size:20px; left: -60px; font-family: 'Times New Roman', Times, serif " class="mt-20"><a class="btn btn-link" href="/Login/ForgetPassword"> Şifremi Unuttum</a></p>
                </div>
            </div>
            <div class="col-md-5 ">
                <div class="row">
                    <div class="col-md-8">
                        <div class="block text-left">
                            <b style="position: relative; left: -30px; color: red; font-size: 33px; font-family: 'Times New Roman', Times, serif " class="text-left">Tatil Planım Extra fırsatlarından yararlanmak için şimdi üye ol!</b>
                        </div>
                        <br />
                        <div style="position: relative; left: -30px;" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <svg xmlns="http://www.w3.org/2000/svg" style="color:green" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                                </svg>
                                <a class="me-auto" style="font-size:15px;">Seyahat harcamalarından puan kazanır, kazandığın puanları dilediğince harcarsın.</a><br /><br />
                                <svg xmlns="http://www.w3.org/2000/svg" style="color:green" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                                </svg>
                                <a class="me-auto" style="font-size:15px;">Hoş geldin kuponu ile hemen kazanmaya başlarsın.</a><br /><br />
                                <svg xmlns="http://www.w3.org/2000/svg" style="color:green" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                                </svg>
                                <a class="me-auto" style="font-size:15px;">Sana özel kampanya ve fırsatlardan yararlanırsın.</a>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-4">
                        <img style="width:360px;height:380px;" src="~/Kampanya2.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


