@model TraversalCore.Models.UserSignInViewModel

@{
    ViewData["Title"] = "SıngIn";
    Layout = "~/Views/Shared/_UILayout.cshtml";

}

<link href="~/css/site.css" rel="stylesheet" />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="overlay">
    <form class="form2" method="post" >
        <div class="con">
            <header class="header ">
                <h2>Giriş Yap</h2>
                <br />
                <p>Kullanıcı adınızı ve şifrenizi kullanarak buradan giriş yapın</p>
            </header>
            <div class="field-set">
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
                <input class="form-input" id="txt-input" type="text"  asp-for="username"  placeholder="Kullanıcı Adı" required>
                <br>
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <input class="form-input" type="password" asp-for="password" placeholder="Şifre" id="pwd" required>
                <span>
                    <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                </span>
                <br>
                <button class="btn btn-style btn-secondary"> Giriş Yap </button>
            </div>
            <div class="other">
                <button class="btn submits frgt-pass">Şifre Yenile</button>
                <button  class="btn submits sign-up">
                    <a href="/Login/SingUp/">Kayıt Ol</a> 
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </button>
            </div>

        </div>

    </form>
</div>
