@model TraversalCore.Models.UserRegisterViewModel
@{
    ViewData["Title"] = "SingUp";
    Layout = "~/Views/Shared/_UILayout.cshtml";

}

<link href="~/css/site.css" rel="stylesheet" />
<br />
<br />
<br />
<br />
<br />

<div class="overlay">
    <form class="form2" method="post">
        <div class="con">
            <header class="header ">
                <h2>Kayıt Ol</h2>
                <br />
                <p>  Seyahetlerimize katılmak için hemen kayıt olun...</p>
            </header>
            <div class="field-set">
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
                <input class="form-input" id="txt-input" type="text" asp-for="Name" placeholder="Ad" required><br />
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
                <input class="form-input" type="text" asp-for="Surname" placeholder="Soyad" id="pwd" required><br />
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
                <input class="form-input" type="text" asp-for="UserName" placeholder="Kullanıcı Adı" id="pwd" required><br />
                <span class="input-item">
                    <i class="fa fa-mail-reply-all"></i>
                </span>
                <input class="form-input" type="text" asp-for="Mail" placeholder="Email" id="pwd" required>
                <br>
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <input class="form-input" type="password" asp-for="Password" placeholder="Şifre" id="pwd" required>
                <span>
                    <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                </span>
                <br>
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <input class="form-input" type="password" asp-for="ConfirmPassword" placeholder="Şifre Tekrar" id="pwd" required>
                <span>
                    <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                </span>
                <br>
                <button class="btn btn-style btn-secondary"> Kayıt Ol </button>
            </div>
        </div>

    </form>
</div>