@using Entity.Concrete
@model List<Ofer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="row">
    <div class="title text-center">
        <h1 style="color: #004AAD;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Tüm Kampanyalar</h1>
    </div>
</div>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="post">
                        <div class="post-thumb">
                            <a href="blog-single.html">
                                <img style="width:500px; height:350px;" class="img-responsive" src="@item.FirstImage" alt="">
                            </a>
                        </div>
                        <div class="post-content">
                            <a href="/Ofer/OferDetail/@item.Id" style="color: #004AAD" class="btn btn">Detayı Görüntüle</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
