
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<html

@await Component.InvokeAsync("_AdminDashboardHeader")

<body>
    <!-- Layout wrapper -->
    <div class="row">

        @await Component.InvokeAsync("_DashboardBanner")

        @await Component.InvokeAsync("_Cards1Statistic")

        @await Component.InvokeAsync("_TotalRevenue")

        @await Component.InvokeAsync("_Cards2Statistics")
    </div>
    <div class="row">

        @await Component.InvokeAsync("_DestinationStatistic")

        @await Component.InvokeAsync("_DestinationStatistic2")

        @await Component.InvokeAsync("_AdminGuideList")
    </div>
</body>
</html>
